<div class="hm-container">
      <div class="welcomeHome">
          <h2>Hi <%= current_user.fname %>!</h2>
          <h3><em>Post Somthing:</em></h3>

          <!-- <input type="submit" name="" value="Sign Out?" onclick='signOut()'> -->

          <form class="" action='/users' method="post">
            <input id="titleForm" placeholder="Title" type="text" name="title" >
            <textarea name="blog" placeholder="Post" rows="8" cols="80"></textarea>
            <input id="editBtn" type='submit' name="" value="submit">
          </form>

  </div>
</div>

<script>
  function signOut(){
    window.location = '/sign-out'
  }

  function useDel(){
    window.location = '/user/destroy/:id'
  }
</script>
