<div class="hm-container">
      <div class="welcomeHome">
        <h1><%= current_user.fname %>'s Settings</h1>

        <p>Last Name: <%= current_user.lname %></p>

        <p>Password: <%= current_user.password %></p>

        <p>Age: <%= current_user.age %></p>
  </div>
</div>
<h2>Welcome to the Blog</h2>
<form class="" action="/users" method="post">

<textarea name="blog" rows="8" cols="80"></textarea>
<input type='submit' name="" value="submit">

</form>
