<div class="hm-container1">

  <div class="welcomeHome">

    <h3 style= "color: #47a1ad;">Sign In</h3>

    <form class="" action="/sign-in" method="post">
        <input type="text" name="fname" placeholder="First Name">
        <input type="text" name="password" placeholder="Password">
        <input type="submit" name="" value="Sign In">
    </form>

    <h3 style= "color: #47a1ad;">Create New User</h3>
    <form class="" action="/users/new" method="post">
        <input type="text" name= "[post]fname" placeholder="First Name">
        <input type="text" name= "[post]lname" placeholder="Last Name">
        <input type="text" name= "[post]password" placeholder="Password">
        <input type="text" name= "[post]age" placeholder="Age">

        <input type="submit" name="" value="Create">
    </form>

</div>
  <div id="mainContainer">
    <h1>Welcome!</h1>
  </div>

  <img id="city" src="images/new_york.jpg" alt="">

</div>
