<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
      <link rel="stylesheet" href="stylesheets/style.css">
      <link href="https://fonts.googleapis.com/css?family=Hi+Melody" rel="stylesheet">
        <meta charset="utf-8">
        <title>SECOND APP</title>
    </head>
    <body background="images/bubbles.jpg">
        <%= flash[:notice] if flash[:notice] %>
        <header>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/users">Users</a></li>
            </ul>
        </header>
        <%= yield %>
    </body>
</html>
