<div class="hm-container">
      <div class="welcomeHome">

    <h2>Welcome to <%= @user.fname %>'s Page!</h2>



    <div id="postTitle">
      <input id="postInput" placeholder="Title" value=""></input>
    </div>

    <div id="postText">
      <input id="post_Input" placeholder="Post" value=""></input>
      <input type="submit" name="" for="post_Input" onclick="post()" value="Post">
    </div>



    <% @posts.each do |post| %>
        <h3><%= post.title %></h3>
        <p>
            <%= post.content %>
        </p>
    <% end %>


  </div>
</div>

<!-- <script>

  function post(){
    titVal = document.getElementById('postInput').value
    postVal = document.getElementById('post_Input').value
    console.log(titVal)
    console.log(postVal)
  }

</script> -->
